# compiled output
dist/
node_modules/
build/
client/node_modules/
servers/node_modules/
client/dist/
servers/dist/
.next/
out/
.vercel
*.tsbuildinfo
# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Carpetas de dependencias (por si acaso)
node_modules/
